<footer>
    <div class="box">
        <div class="news">
            <p class="kabum">KaBum! News</p>
            <p class="receive">Receba ofertas exclusivas no seu e-mail</p>
        </div>
            <div class="line-box">
                <input placeholder="Qual é o seu nome?" class="text-input"></input>&nbsp;&nbsp;
                <input placeholder="Seu e-mail?" class="text-input"></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="cadastrar">CADASTRAR</button>
            </div>
    </div>

        <div class="links">
            <div class="atendimento">
                <a id="atend">Atendimento</a>
                <a class="hour">Horário de atendimento:</a>
                <a class="hour">08:00 às 20:00 - </a>
                <a class="hour">Segunda a Sábado,</a>
                <a class="hour">horário de Brasília</a>
                <a class="hour">(Exceto domingo e feriados, em Limeira-SP)</a>
            </div>
            <div class="sac">
                <p id="sac">Central SAC:</p>
                <p>(19) 2114-4444</p>
                <p>E-mail:</p>
                <p>faleconosco@kabum.com.br</p>
            </div>
            <div class="sociais">
                <p>Mídias Sociais</p>
                <div id="social-icons">
                    <a target="_blank" href="https://www.facebook.com/kabum.com.br/"><img src="facebook-icon.svg" alt="ícone Facebook"></a>
                    <a target="_blank" href="https://www.instagram.com/kabum.com.br/?hl=pt-br"><img src="instagram-icon.svg" alt="ícone Instagram"></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UC5S1CfC9-KTuRxMVoSV5b1g"><img src="youtube-icon.svg" alt="ícone Youtube"></a>
                </div>
            </div>

            <div class="download-app">
                <p>Baixar os Aplicativos</p>
                <div id="apps">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=br.com.kabum.webviewapp&hl=pt_BR&gl=US"><img src="googleplay.svg" alt="ícone Google Play"></a>
                    <a target="_blank" href="https://apps.apple.com/br/app/kabum-compras-online/id1411546631?l=en"><img src="appstore.svg" alt="ícone App Store"></a>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>