@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

.container {
    background-color: #0060b1;
    min-width: auto;
    min-height: auto;
    height: 150px;
    display: flex;
}


.barraLaranja {
    background-color: #ff6500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;

}

.barraLaranja div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    color: white;
    margin-left: 1.125rem;
    padding: 0px 16px;
    cursor: pointer
}

.barraLaranja div:not(:last-child) {
    border-right: 1px solid rgba(252, 252, 250, 0.30);

}


#menuhamburguer {
    color: antiquewhite;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px 30px 350px;
}

.container .icons {
    font-size: 30px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #DEE0E4;
    padding: 0px 200px 0px 95px;


}

.container .icons svg {
    cursor: pointer;
}

.container .Cabecalho {
    display: flex;
    align-items: center;
}

#logokabum svg {
    width: 227px;
    height: 75px;
    padding-right: 25px;
}

.iconify {
    padding: 25px;
    cursor: pointer
}

.colorWhite {
    color: white;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding: 3px 20px;
    font-size: 17px;
    font-weight: 300;
    border: none;
    height: 35px;
    width: 250px;
}

#btnBusca {
    float: left;
    cursor: pointer;
}

#seta img {
    float: left;
    padding-top: 2.5px;
    width: 70px;
    height: 80px;

}

#divBusca {
    background-color: white;
    border: solid 1px rgba(47, 79, 79, 0.8);
    border-radius: 7px;
    height: 40px;
    width: 680px;
    padding: 4px;
}

.Cabecalho div:last-child {
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 65px;
    margin-left: 1335px;
}

.login {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #DEE0E4;
    padding: 30px 0px;
}

.login .iconify {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    padding-left: 100px;
    cursor: pointer
}

.login .textlogin {
    font-size: 15px;
    width: 140px;
    color: #DEE0E4;

}

.promocao {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: auto;
    max-height: auto;
    margin-left: 15.8%;
    margin-right: 15.8%;
}

.promocao img {
    cursor: pointer;
}

.caixa {
    background-color: #ff6500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    max-height: auto;
    margin-left: 15.8%;
    margin-right: 15.8%;
    padding: 20px 40px;
}

#mes {
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
}

#icon {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#cronometro {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

#icon {
    font-size: 35px;
}

.fundoItens {
    background-color: #fafafb;
    max-width: auto;
    max-height: auto;
    margin-left: 15.8%;
    margin-right: 15.8%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 40px;
}

.caixas {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    margin-left: 25.8%;
    margin-right: 25.8%;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#caixa1 img {
    padding: 30px 3px 15px 5px;
    width: 270px;
    height: 200px;
}


#caixa2 img {
    padding: 30px 3px 15px 20px;
    width: 240px;
    height: 200px;
}

#caixa3 img {
    padding: 30px 3px 15px 20px;
    width: 240px;
    height: 200px;
}

#caixa4 img {
    padding: 30px 3px 15px 20px;
    width: 240px;
    height: 200px;
}

.conteudoComTexto {
    display: flex;
    flex-direction: column;
}

#texto {
    width: 250px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;

    color: #000000;

}

#texto1 {
    padding-left: 15px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    text-decoration-line: line-through;
    font-variant: small-caps;
    font-feature-settings: 'tnum' on, 'lnum' on;
}

#texto2 {
    padding-left: 15px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 20px;
    text-decoration-line: underline;

    color: #FF6500;
}

#texto3 {
    padding-left: 15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    text-decoration-line: underline;
    font-variant: small-caps;
    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #868686;
}

.bgOrange {
    background-color: #FF6500;
}

.borderOrange {
    border: 1px solid #FF6500;
}

#caixaTempo {
    height: 28px;
}

#caixaTimer {
    background-color: #FF6500;
    width: 50px;
    height: 28px;
    left: 190px;
    top: 755px;

}

.conteudoComTexto .iconify {
    padding: 0px 10px;
    margin: 0px;
    width: auto;
    height: 26px;
    color: white;
}

#textTermina {
    padding: 4px 15px;
    color: #ff6500;
    height: 100px;
    font-size: 14px;
    text-decoration: underline
}

.borderOrange {
    display: flex;
}

.containerAlto {
    background-color: #FF6500;
    display: flex;
}

.containerPai {
    display: flex;
    justify-content: space-between;
}

.containerFilho div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#caixaA {
    width: 42px;
    height: 45px;
    padding: 3px;

    background: #FF6500;
    border-radius: 5px;
}

#caixaB {
    width: 45px;
    height: 45px;
    padding: 1px 0px 3px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    text-decoration-line: underline;
    background-color: white;
    border: 1px solid #FF6500;
    color: #FF6500;

}

.displayOrange {
    display: flex;
    flex-direction: column;
}

#porcentagem {
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    text-decoration-line: underline;
    padding: 10px 0px 0px 0px;

    color: #FFFFFF;
}

#caixaspan {
    height: 160px;
    width: 50px;
}

#iconstar{
    width: 160px;
    height: 50px;
    padding: 0px;
    
    
}

.estrelas div{
    display: flex;
    justify-content: end;
    align-items:flex-start;
    text-align: end;
    
    
}

.estrelas .iconify{
    width: 15px;
    height: 15px;
    color: #FF6500;
    text-align: end;
    padding: 1px 0px 14px 0px;
}