@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

.borda{
    border: solid black 2px;
}

#fundoHeader{
    width: 100%;
    background-color: #0060b1;
    min-height: auto;
    min-width: auto;
    box-sizing: border-box;
    padding: 0px, 24px;
    height: 112px;
    flex-wrap: wrap;
    align-items: center;
}

#meioHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 76rem;
    box-sizing: border-box;
    margin: 0px auto;
    height: 7rem;
    padding: 1rem 0px;
    margin: 0px auto;
    
}

#menuHamburguer{
    font-size: 16px;
    height: 25px;
    width: 18px;
    
}

#logoKabum{
    height: 60px;
}


#barraBusca{
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin-top: 1.5rem;
    width: 50%;
    box-sizing: border-box;
    height: 75px;
    position: relative;
}

#busca1{
    display: flex;
    min-height: auto;
    min-width: auto;
    font-size: 16px;
    width: 404px;
    height: 36px;
}


#txtBusca {
    float: left;
    background-color: transparent;
    padding: 3px 20px;
    font-size: 17px;
    font-weight: 00;
    border: none;
    height: 35px;
    width: 250px;
}

#btnBusca {
    float: left;
    cursor: pointer;
}

#seta img {
    float: left;
    padding-top: 2.5px;
    width: 70px;
    height: 80px;
    top: 10px;
    position: absolute;
    left: 360px;
    top: -17px
}

#divBusca {
    background-color: white;
    border: solid 1px rgba(47, 79, 79, 0.8);
    border-radius: 7px;
    height: 40px;
    width: 680px;
    padding: 4px;
}

.textlogin ul{
    list-style-type: none;
    width: 200px;
}

.login{
    width: 50px;
    text-align: left;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 10.375rem;
    box-sizing: border-box;
    
}

.login .textlogin {
    font-size: 14px;
    width: 120px;
    color: #DEE0E4;
}

.login .iconify{
    height: 66px;
    width: 66px;
    color: #fff;
    padding-right: 10px;
}

#iconsLogin{
    display: flex;
    gap: 1.5rem;
    box-sizing: border-box;
    font-size: 25px;
    min-height: auto;
    min-width: auto;
    height: 36px;
    padding: px;
    
}

.barraLaranja {
    background-color: #ff6500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;

}

.itensbarra{
    width: 100%;
    flex-wrap: wrap;
}

.barraLaranja div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    color: white;
    margin-left: 1.125rem;
    padding: 0px 16px;
    cursor: pointer
}

.barraLaranja div:not(:last-child) {
    border-right: 1px solid rgba(252, 252, 250, 0.30);

}





.box{
    display: flex;
    justify-content: space-evenly;
    background-color: #003A6A;
    padding: 10px 15px;
}

.news {
    font-family: Poppins, sans-serif !important;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #003A6A;
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
}

.kabum {
    font-size: 25px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.receive {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

.line-box {
    display:flex;
    margin-top: 1%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.text-input {
    display:flex;
    background: white;
    box-sizing: border-box;
    width: 197px;
    height: 38px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}

#name {
    display: flex;
}

.cadastrar {
    background: rgb(255, 94, 0);
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    height: 2.5rem;
    font-weight: bold;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 10px;
    
}

.links {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 1%;
    font-family: Poppins, sans-serif !important;
    flex-wrap: wrap;
    background: #004D8E;
    height: auto;
}

.atendimento {
    font-family: Poppins, sans-serif !important;
    font-size: 18px;
    color: white;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px;
}

#atend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1%;
    display:flex;
    justify-content: center;
}

.hour {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.sac {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
}

#sac {
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 18px;
    padding: 10px;
}

#social-icons {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    flex-wrap: wrap;
    padding: 10px;
}

.sociais {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    
}

.download-app {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

#apps {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    flex-wrap: wrap;
}

main{
    background-color: #fafafb;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 928px;
    align-items: center;
    
}

main .caixas{
    height: 928px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #caixa1{
    display: flex;
    border: solid black;
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
    height: 35px;
    padding: 32px 16px 32px 80px;
}

main #caixa1 h1{
    font-size: 24px;
    font-weight: bold;
    color: #42464d;
    margin-left: 16px;
}

main #caixa1 .iconify{
    font-size: 35px;
}

main .forms{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    height: 928px;
    width: 54.2%;
    justify-content: space-between;
    box-sizing: border-box;
}

main .forms #form1{
    background-color: #fff;
    width: 45%;
    padding: 32px;
   
}

main .forms #form2{
    background-color: #ffff;
    width: 48%;
    
}

main .forms #form1 .cabecalho{
    display: flex;
    justify-content: space-between;
}

main .forms #form1 #dados1{
    display: flex;
    border: #003A6A solid;
}

main .forms #form1 #dados2{
    display: flex;
    border: #003A6A solid;
}