@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Poppins;
   
}
ul, li, p{
    margin:0px;
    padding: 0px;
    list-style: none;
}

cor{
    background: var(#ff6500);
    background: var(#0060b1);
    background: var(#F5F5F5);
}
header{
    height: min-content;
    width: 100%;
    background: #0060b1;
    border-bottom: 4px solid #ff6500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display:flex;   
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    background: #0060b1;
}

.logokabum{
    display:flex;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
}

.logokabum img{
    height: 3rem;
}

.box-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: max-content ; 
    
}
.iconecliente{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login p{
    color: rgba(255, 255, 255, 0.8);
}

.AccountController {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    gap: 0.5rem;
}

.AccountController > p {
    transition: all 2s ease;
}

.AccountController > p:first-of-type:hover, .AccountController > p:last-of-type:hover {
    text-decoration: underline;
    cursor: pointer;
}

.iconecliente img{
    height: 3rem;
    cursor: pointer;
}

.Container{
    width: 100%;
    height: max-content;
    background: rgba(238, 234, 234, 0.8);
}

nav{
    width: 100%;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content:center;
    gap: 1.3rem;
}

.Main{
    padding: 0 0 0 10rem;
    width: 100%;
    height: 900px;
}

section{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0  70 10vh ;
    background: rgba(238, 234, 234, 0.8);
    grid-row-gap: 1.8em;
    grid-column-gap: 4rem; 
}

.Pedido{
    display: flex;
    background: #ffff;

    padding: 2rem 2rem;
    width: 100%;
    height: 20rem;
    
}

.DadosPessoais{
    display: flex;
    flex-direction: column;
}

#Box-End{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 11rem;
    background: #FAFAFB;
}
#Ent{
    display: flex;
    flex-direction: column;
    padding:  1rem 2rem;
    justify-content: center;
    text-align: center;
    
    width: 100%;
    height: 50%;

    background: #FAFAFB;
    
}

.Logradouro{
    display: flex;
    flex-direction: column;
    padding:  1rem 2rem;
    
}
.Resumo{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 3;
    background: #ffff;
    width: auto;
    height: 42.5rem;

    border-radius: 5px
}

.BoxResumo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    padding: 1.5rem;
  
}

.Descricao{

    width: 100%;
    height: 50%;
}

.Descricao  h1{
    
    text-align: inherit;
    font-size: 25px;
}

.Descricao p{ 
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding:10px ;
    
    color: #42464D80;
}
.Descricao span{
    color: #000;
    
}

.Descricao >h1:first-of-type:hover{
    cursor: pointer;
    text-decoration: underline;
}

#CaixaBranca{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.Valores{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    width: 100%;
    height: 40%;
    border-radius: 5px;
    background: rgba(141, 250, 188, 0.692);    
    
}

.Pix{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: flex-start;
    font-size: 18px;
    color: rgba(31, 144, 80, 0.8);
   
}
.ValorPix{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
    font-size: 25px;
    color: rgba(31, 144, 80, 0.8);
    
}
.Economize{
    display: flex;
    width: 100%;
    justify-content: end;
  

    font-size: 14px;
    color: rgba(31, 144, 80, 0.8);
   
}

.button {
    display: flex;
    width: 100%;
    height: max-content;
    padding: 2rem 0  1rem;
    gap: 2rem;
    flex-direction: column; 
}
.button > button:first-of-type{
    background: #B6BBC2;
}

button  {
    
    border-radius: 5px;
    border: 1px solid #ff6500;
    width: 100%;
    height: 3.5rem;


    cursor: pointer;
    color: #ff6500;
    font-size: 25px;
    background: #F5F5F5;
}


.Lista{
    background: #ffff;;
    width: 100%;
    height: 30rem;
}

.Title{
    display: flex;
    flex-direction: column;
    
    display: flex;
    width: 100%;
    height: 25%;
    gap: 2.3rem;
    padding: 0.5rem 1rem;

    border-bottom:1px solid #D9D9D9 ;
}


.Title > h1:hover{
    text-decoration: underline;
    cursor: pointer;
    
}

.Title p{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;    
    color: rgba(66, 70, 77, 0.8);
    
}
.Title  strong:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Title strong{
    color: #000;
}

.Produto{
    display: flex;
    width: 100%;
    height:70%;
    
    flex-direction: column;
}

#Prod{
    display: flex;
    margin: 50px;
}   
#Prod > img:first-child:hover{
    cursor: pointer;
    
}
.InfProd{
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 0 2rem;  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: rgba(0, 0, 0, 0.35);
}

.InfProd span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.InfProd span{
    color: #000;
}

#Des{
    display: flex;
    
    width: 100%;
    height: auto;
    padding: 0 2rem; 
    background: #FAFAFB;
}
#Circulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem ;

}

.star {
    display: flex;
    width: 75%;
    justify-content: end;
    gap: 15rem;

}

.circulo{
    display: flex;
    width: 15px;
    height: 15px;
    background:#ffff;
    border: 2px solid black;
    border-radius: 50%;
    border: solid;
}

.circulo:hover{
    cursor: pointer;

}

.rodape{
    width: 100%;
    height: 5vh;

    background: rgba(238, 234, 234, 0.8);

}
