@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}
main{
    background-color: #F5F5F5;
}
body{
    background-color: #F5F5F5;
}
footer{
    background-color: #F5F5F5;
}

.container {
    background-color: #0060b1;
    min-width: auto;
    min-height: auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container ul{
    list-style-type: none;
}

.container .login{
    width: 500px;
    text-align: left;
}

.container .login .textlogin {
    font-size: 15px;
    width: 200px;
    color: #DEE0E4;
}

.barraLaranja {
    margin: 1px;
    background-color: #FF5600;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
}

#logokabum svg {
    width: 227px;
    height: 75px;
}

.login {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #DEE0E4;
    padding: 30px 0px;
}

.login .iconify {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    padding-left: 100px;
    cursor: pointer
}

#containerIcones{
    display: flex;
    justify-content: center;
    height: 120px;
}

#containerIcones .icones{
    width: 100px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#containerIcones .icones .iconify{
    font-size: 105px;
}

#containerIcones .icones .text{
    position: absolute;
    left: 35px;
    top: 35px;
    font-size: 20px;
    font-family: Poppins, sans-serif !important;
    font-weight:bold ;
    color: rgba(86, 92, 105, 0.9);;
}

#containerIcones #cart{
    display: flex;
    align-items: center;  
    justify-content: center;
    padding-top: 20px;
}

#containerIcones #arrow{
    display: flex;
    align-items: center;  
    justify-content: center;
}

#containerIcones #arrow .iconify{
    color: #7f858d;
    font-size: 50px;
}

#containerIcones #cart .iconify{
    font-size: 67px;
    align-items: center;
    vertical-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #FF5600;
}

#containerIcones #profile .iconify{
    font-size: 80px;
    vertical-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #FF5600;
    padding-top: 10px;
}

#containerIcones #card .iconify{
    font-size: 70px;
    vertical-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #FF5600;
    padding-top: 18px;
}
#containerIcones #eye .iconify{
    font-size: 70px;
    vertical-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgba(86, 92, 105, 0.2);
    padding-top: 18px;
}
#containerIcones #check .iconify{
    font-size: 55px;
    vertical-align: center;
    display: inline-block;
    vertical-align: middle;
    color: rgba(86, 92, 105, 0.2);
    padding-top: 24px;
}
#containerIcones .desativado{
color: rgba(86, 92, 105, 0.2);
}
#containerIcones .ativo{
    color:#FF5600;
    }
main #middleBox{
    margin-top: 45px;
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

main #middleBox #containerCenter #leftPanel {
    height: 300px;
    width: 70%;
    margin-left: 10%;
    margin-top: 25px;
}

main #middleBox #containerCenter {
    display: flex;
}

main #middleBox #containerCenter #leftPanel #EyePay{
    display: flex;
    justify-content: left;
}

main #middleBox #containerCenter #leftPanel #EyePay #iconEye{
    width: 5%;
    font-size: 25px;
}

main #middleBox #containerCenter #leftPanel #EyePay #textPay{
    width: 45%;
    font-weight: 700;
    line-height:31px;
    padding-left: 10px;
    font-size: 22px;
    color: #42464d;
}

main #middleBox #containerCenter #leftPanel #Pix{
    width: 30%;
    font-weight: 700;
    line-height:31px;
    background-color: #ff6500;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 2;
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 30px;
    height: 48px;
}
main #middleBox #containerCenter #leftPanel .iconify{
    font-size: 25px;
    padding-right: 10px;
}

main #middleBox #containerCenter #leftPanel #Boleto{
    width: 30%;
    font-weight: 700;
    line-height:31px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 2;
    display: flex;
    align-items: center;
    color: #ff6500;
    padding: 0px 30px;
    border: solid 1px #ff6500;
    height: 48px;
}

main #middleBox #containerCenter #leftPanel #CK{
    width: 30%;
    font-weight: 700;
    line-height:31px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 2;
    display: flex;
    align-items: center;
    color: #ff6500;
    padding: 0px 30px;
    border: solid 1px #ff6500;
    height: 48px;
}

main #middleBox #containerCenter #leftPanel #CC{
    width: 30%;
    font-weight: 700;
    line-height:31px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 2;
    display: flex;
    align-items: center;
    color: #ff6500;
    padding: 0px 30px;
    border: solid 1px #ff6500;
    height: 48px;
}

main #middleBox #containerCenter #rightPanel {
    height: 250px;
    width: 100%;
    position: relative;
    right: 380px;
    top: 90px;
    color: #565c69;
    font-size: 13px;
    font-weight: 300;
}

main #middleBox #containerCenter #rightPanel .texto{
    padding-top: 10px;
    color: #565c69;
    size: 14px;
    line-height: 24px;
}

main #middleBox #containerCenter #rightPanel #p3{
    padding-top: 10px;
}

main #middleBox #containerCenter #rightPanel li{
    margin-left: 15px;
}

main #middleBox #containerCenter #rightPanel li{
    margin-left: 15px;
}

main #middleBox #bottomPanel{
    width: 52.9%;
    height: 110px;
    margin-left: 26.4%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

main #middleBox #bottomPanel #totalCompra{
    width: 35%;
    background-color: #ffefe6;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ff6500;
}

main #middleBox #bottomPanel #totalCompra #tituloEsquerda{
    padding-top: 20px;
}
main #middleBox #bottomPanel #totalCompra #valorEsquerda{
    font-size: 30px;
}

main #middleBox #bottomPanel #valorPagamento{
    width: 60%;
    margin-left: 15px;
    background-color: #e5fff1;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: #1f9050;
    padding-top: 20px;
}
main #middleBox #bottomPanel #valorPagamento span{
    font-weight: 700;
    font-size: 25px;
}

.debug {
    border: solid 1px;
}

main .bottomBox{
    height: 145px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 11%;
}

main .bottomBox #back{
    border: solid 1px;
    height: 54px;
    width: 18%;
    border-color:rgba(255, 102, 0, 0.8);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFf;
    min-width: 10%;
}

main .bottomBox #pay{
    margin-left: 22px;
    border-radius: 5px;
    height: 54px;
    width: 28%;
    background-color: rgba(255, 102, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;    
}

main .bottomBox #back #backText{
    height: 25px;
    font-weight: 800;
    color: rgba(255, 102, 0, 0.8)    ;
}

main .bottomBox #pay #payText{
    height: 25px;
    font-weight: 800;
    color: #FFFFFf;
}



/*----------------

----------------*/

.promocao img {
    cursor: pointer;
}

.caixa {
    background-color: #FF5600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    max-height: auto;
    margin-left: 15.8%;
    margin-right: 15.8%;
    padding: 20px 40px;
}

#mes {
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
}

#icon {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#cronometro {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

.news {
    font-family: Poppins, sans-serif !important;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #003A6A;
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
}

.kabum {
    font-size: 25px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.receive {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

.line-box {
    display:flex;
    margin-top: 1%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.text-input {
    display:flex;
    background: white;
    box-sizing: border-box;
    width: 197px;
    height: 38px;
    border-radius: 5%;
    color: rgb(0, 0, 0);
    font-size: 14px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}

#name {
    display: flex;
}

/* .text-input-email {
    display: flex;
    background: white;
    box-sizing: border-box;
    width: 197px;
    height: 38px;
    border-radius: 5%;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
} */

.cadastrar {
    background: rgb(255, 94, 0);
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    height: 2.5rem;
    font-weight: bold;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 10px;
    
}

.links {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 1%;
    font-family: Poppins, sans-serif !important;
    flex-wrap: wrap;
    background: #004D8E;
    height: auto;
}

.atendimento {
    font-family: Poppins, sans-serif !important;
    font-size: 18px;
    color: white;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px;
}

#atend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1%;
    display:flex;
    justify-content: center;
}

.hour {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.sac {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
}

#sac {
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 18px;
    padding: 10px;
}

#social-icons {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    flex-wrap: wrap;
    padding: 10px;
}

.sociais {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    
}

.download-app {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

#apps {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    flex-wrap: wrap;
}

footer{
    background-color: #001A53;
    font-family: Poppins;
}