<%- include("../partials/header"); %>

    <main>
        <div class=" barraLaranja">
            <div class="itensbarra">
                <div>
                    <p> TODOS OS DEPARTAMENTOS </p>
                </div>
                <div>
                    <p>LANÇAMENTOS</p>
                </div>
                <div>
                    <p>DESTAQUES</p>
                </div>
                <div>
                    <p>PC GAMER</p>
                </div>
                <div>
                    <p>ELETRÔNICOS</p>
                </div>
                <div>
                    <p>SEJA PRIME</p>
                </div>
                <div>
                    <p>CARTÃO KABUM!</p>
                </div>
                <div>
                    <p>BAIXE O APP</p>
                </div>
            </div>
        </div>

        <div class="promocao">
            <img src="banner_img.jpg" alt="promocao">
        </div>

        <div class="caixa">
            <div id="mes">
                JULHO GAMER
            </div>
            <div class="timer">
                <div id="text">
                    TERMINA EM:
                </div>

                <div id="cronometro">
                    02D 11:36:44
                </div>
            </div>
        </div>

        <div class="fundoItens">
            <div class="caixagrande">
                <div class="caixas" id="caixa1">
                    <div class="conteudoComTexto">
                        <div class="containerPai">
                            <div class="containerFilho">
                                <div class="displayOrange" id="caixaA">
                                    <div id="porcentagem">40%</div>
                                    <div id="caixaspan"><span class="iconify" data-icon="bxs:down-arrow">
                                        </span></div>
                                </div>
                                <div id="caixaB">RESTAM 23 UNID.</div>
                            </div>

                            <div class="estrelas" id="caixaC">
                                <div id="iconstar"><span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <img src="IMG PROCE RYZEN.svg" width="300" height="300" alt="processador">
                        <div id="texto">Processador AMD Ryzen 5 3600 Cache 32MB 3.6GHz(4.2GHz Max Turbo) AM4, Sem Vídeo
                            - 100-...</div>
                        <div id="texto1">R$1790.90</div>
                        <div id="texto2">R$ 1.199,90</div>
                        <div id="texto3">à vista no pix !</div>
                        <div id="caixaTempo" class="borderOrange">
                            <div id="caixaTimer">
                                <span class="iconify" data-icon="mdi:timer-outline">
                                </span>
                            </div>
                            <div id="textTermina">TERMINA EM: <b>02D 11:36:44</b></div>
                        </div>
                    </div>
                </div>

                <div class="caixas" id="caixa2">
                    <div class="conteudoComTexto">
                        <div class="containerPai">
                            <div class="containerFilho">
                                <div class="displayOrange" id="caixaA">
                                    <div id="porcentagem">40%</div>
                                    <div id="caixaspan"><span class="iconify" data-icon="bxs:down-arrow">
                                        </span></div>
                                </div>
                                <div id="caixaB">RESTAM 23 UNID.</div>
                            </div>

                            <div class="estrelas" id="caixaC">
                                <div id="iconstar"><span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                </div>
                            </div>

                        </div>
                        <img src="IMG HEADSET.svg" width="210" height="210" alt="headset">
                        <div id="texto">Headset Gamer Fallen Morcego, Surround Virtual 7.1, Cancelamento de Ruído,...
                        </div>
                        <div id="texto1">R$378,65</div>
                        <div id="texto2">R$ 250,00</div>
                        <div id="texto3">à vista no pix !</div>
                        <div id="caixaTempo" class="borderOrange">
                            <div id="caixaTimer">
                                <span class="iconify" data-icon="mdi:timer-outline">
                                </span>
                            </div>
                            <div id="textTermina">TERMINA EM: <b>02D 11:36:44</b></div>
                        </div>
                    </div>
                </div>
                <div class="caixas" id="caixa3">
                    <div class="conteudoComTexto">
                        <div class="containerPai">
                            <div class="containerFilho">
                                <div class="displayOrange" id="caixaA">
                                    <div id="porcentagem">40%</div>
                                    <div id="caixaspan"><span class="iconify" data-icon="bxs:down-arrow">
                                        </span></div>
                                </div>
                                <div id="caixaB">RESTAM 23 UNID.</div>
                            </div>

                            <div class="estrelas" id="caixaC">
                                <div id="iconstar"><span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <img src="IMG CADEIRA GAMER.svg" width="210" height="210" alt="cadeixa gamer">
                        <div id="texto">Cadeira Gamer Alpha Gamer Vega, Preto, Reclinável, com Almofadas, Cilindro de
                            Gás...</div>
                        <div id="texto1">R$1709,90</div>
                        <div id="texto2">R$ 1.049,80</div>
                        <div id="texto3">à vista no pix !</div>
                        <div id="caixaTempo" class="borderOrange">
                            <div id="caixaTimer">
                                <span class="iconify" data-icon="mdi:timer-outline">
                                </span>
                            </div>
                            <div id="textTermina">TERMINA EM: <b>02D 11:36:44</b></div>
                        </div>
                    </div>
                </div>
                <div class="caixas" id="caixa4">
                    <div class="conteudoComTexto">
                        <div class="containerPai">
                            <div class="containerFilho">
                                <div class="displayOrange" id="caixaA">
                                    <div id="porcentagem">40%</div>
                                    <div id="caixaspan"><span class="iconify" data-icon="bxs:down-arrow">
                                        </span></div>
                                </div>
                                <div id="caixaB">RESTAM 23 UNID.</div>
                            </div>

                            <div class="estrelas" id="caixaC">
                                <div id="iconstar"><span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                    <span class="iconify" data-icon="clarity:star-solid">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <img src="IMG ASPIRADOR.svg" width="210" height="210" alt="aspirador">
                        <div id="texto">Robô Aspirador de Pó KaBuM! Smart 500, Preto - Recarregamento Automático,...
                        </div>
                        <div id="texto1">R$1.150,90</div>
                        <div id="texto2">R$ 854,00</div>
                        <div id="texto3">à vista no pix !</div>
                        <div id="caixaTempo" class="borderOrange">
                            <div id="caixaTimer">
                                <span class="iconify" data-icon="mdi:timer-outline">
                                </span>
                            </div>
                            <div id="textTermina">TERMINA EM: <b>02D 11:36:44</b></div>
                        </div>
                    </div>

                </div>
                <div class="textabaixocaixa">
                    <div>VER TODOS ></div>
                </div>
                <div class="propaganda">
                    <div class="imageprop"><img src="prop1.jpg" alt="imagem1"></div>
                    <div><img src="prop2.jpg" alt="imagem2"></div>
                </div>
                <div class="textabaixocaixa2">
                    <div id="baixo">VER TODOS ></div>
                </div>

            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>