<main>
    <div class=" barraLaranja">
        <div>TODOS OS DEPARTAMENTOS</div>
        <div>LANÇAMENTOS</div>
        <div>DESTAQUES</div>
        <div>PC GAMER</div>
        <div>ELETRÔNICOS</div>
        <div>SEJA PRIME</div>
        <div>CARTÃO KABUM!</div>
        <div>BAIXE O APP</div>
    </div>
</main>
<section class="container-pai">
      <div class="logim">
        <span class="iconify" data-icon="mdi:account" style="color: #fc6b0f;" data-width="60" data-height="60"></span>   
        <div class="identificaçao">
            <h1>IDENTIFICAÇÃO</h1>
         <div class="jaTenhoCadastro">
                
         </div>
        

        <div class="form">
            <div class="jaTenhoCadastro">
                <h1>JÁ TENHO CADASTRO</h1>    
            </div>
            
        <form>
            
             <label for="nome"></label>
             <input type="text" id="nome" name="nome" placeholder="&nbsp&nbsp E-mail, CPF ou CNPJ *">

        </form>
        <br>
                <form>
                    <label for="nome"></label>
                    <input type="text" id="nome" name="nome" placeholder="&nbsp&nbsp Senha *">
                </form>
                <br>
                  <button class="entrar">Entrar</button> 
                 <div class="esqueci">
                  <p> <u>ESQUECI MEU LOGIN</u> &nbsp &nbsp &nbsp &nbsp <u>ESQUECI A MINHA SENHA</u></p> 
                </div>  
                <div class="text">QUERO ACESSAR COM MINHAS REDES SOCIAIS</div>  
                <div class="sociais">
                    
                    <button class="entrar" style="color:blue;"> <span class="iconify" data-icon="fa-brands:facebook-f" style="color: blue;" data-width="30" data-height="30"></span></span>&nbsp &nbsp Entrar com Facebook</button> 
                    <button class="entrar" style="color:red;"> <span class="iconify" data-icon="akar-icons:google-fill" style="color: red;" data-width="30" data-height="30"></span>&nbsp &nbsp &nbsp Entrar com Google</button> 
                </div>
                
                
        </div>

        </div>
         </div>
         
   
        <div class="cadastro">
        <h1>QUERO ME CADASTRAR</h1>
    
            <form>
                <label for="nome"></label>
                <input type="email" id="email" name="E-mail" placeholder="&nbsp&nbsp E-mail *">
            </form>
            <form>
                <label for="Senha"></label>
                <input type="password" id="senha" name="senha" placeholder="&nbsp&nbsp Crie sua Senha *">
            </form>
            <form>
                <label for="senha"></label>
                <input type="password" id="senha" name="senha" placeholder="&nbsp&nbsp Confirme sua senha *">
            </form>
            <form>
                <label for="nome"></label>
                <input type="text" id="nome" name="CPF ou CNPJ" placeholder="&nbsp&nbsp CPF ou CNPJ *">
            </form>
            <form>
                <label for="nome"></label>
                <input type="text" id="nome" name="cep" placeholder="&nbsp&nbsp CEP *">
                
            </form>
            <form> 
                <button class="submit">Cadastrar</button> 
            </form>

         </div>
        
</section>