<main>
    <div class="barraLaranja"></div>
    <div id="containerIcones">
        <div class="icones" id="spinner">                 
                <span class="iconify" data-icon="ci:doughnut-chart" style="color: #ff6500;" data-flip="horizontal"></span>
                <span class="text">75%</span>        
        </div>
        <div class="icones" id="cart">
            <span class="iconify" data-icon="clarity:shopping-cart-solid"></span>
            <div class="ativo">Carrinho</div>
        </div>
        <div class="icones" id="arrow">                
            <span class="iconify" data-icon="bi:arrow-right"></span>
        </div>
        <div class="icones" id="profile">                
            <span class="iconify" data-icon="bi:person-fill"></span>
            <div class="ativo">Identificação</div>
        </div>
        <div class="icones" id="arrow">                
            <span class="iconify" data-icon="bi:arrow-right"></span>
        </div>
        <div class="icones" id="card">                
            <span class="iconify" data-icon="ic:round-credit-card"></span>
            <div class="ativo">Pagamento</div>
        </div>
        <div class="icones" id="arrow">                
            <span class="iconify" data-icon="bi:arrow-right"></span>
        </div>
        <div class="icones" id="eye">                
            <span class="iconify" data-icon="bi:eye-fill"></span>
            <div class="desativado">Confirmação</div>
        </div>
        <div class="icones" id="arrow">                
            <span class="iconify" data-icon="bi:arrow-right"></span>
        </div>
        <div class="icones" id="check">                
            <span class="iconify" data-icon="bi:check-circle-fill"></span>
            <div class="desativado">Conclusão</div>
        </div>
    </div>
    <div id="middleBox">
        <div id="containerCenter">
            <div id="leftPanel">
                <div id="EyePay" >
                    <div id="iconEye" >
                        <span class="iconify" data-icon="mdi:eye-plus" style="color: #ff6500;"></span>
                    </div>
                    <div id="textPay" >                        
                        <p>FORMA DE PAGAMENTO</p>
                    </div>
                </div>
                <div id="Pix" >
                    <span class="iconify" data-icon="ic:round-pix" style="color: white;"></span>
                    <div>
                        <p>PIX</p> 
                    </div>
                    
                </div>
                <div id="Boleto" >
                    <span class="iconify" data-icon="ic:round-barcode" style="color: #ff6500;"></span>
                    <div>
                        <p>BOLETO BANCÁRIO</p> 
                    </div>
                    
                </div> 
                <div id="CK" >
                    <span class="iconify" data-icon="ic:round-credit-card" style="color: #ff6500;"></span>
                    <div>
                        <p>CARTÃO KABUM</p> 
                    </div>
                    
                </div> 
                <div id="CC" >
                    <span class="iconify" data-icon="ic:round-credit-card" style="color: #ff6500;"></span>
                    <div>
                        <p>CARTÃO DE CRÉDITO</p> 
                    </div>
                    
                </div>           
            </div>
            <div id="rightPanel" >
                <p><h3>Pix</h3></p>
                <p><h4>A melhor opção para suas compras à vista</h4></p>
                <p class="texto">Pague com PIX e aproveite <b>até 15% OFF</b>. Nessa modalidade, seu <b>pedido é aprovado instantaneamente</b>, o que torna a expedição do seu pedido ainda mais rápida.</p>
                <p id="p3">O que você precisa saber antes de pagar por PIX:</p>
                <ul>
                    <li>É necessário possuir uma chave PIX cadastrada no seu Banco;</li>
                    <li>Com o seu celular, basta escanear o QR Code ou copiar o código para efetivar a compra;</li>
                    <li>O pagamento é processado e debitado do valor em sua conta corrente;</li>
                    <li>Como padrão, o Banco Central limitou os pagamentos no período das 20h às 06h, a valores de até R$1.000. Mas você pode solicitar o aumento do limite deste período diretamente com o seu banco, pela Central de Atendimento ou APP. O prazo de liberação é de até 48h.</li>
                </ul>
            </div>
        </div>
        <div id="bottomPanel">
            <div id="totalCompra">
                <p id="tituloEsquerda">
                    TOTAL DA SUA COMPRA:
                </p>
                <p id="valorEsquerda">R$ 316,68</p>

            </div>
            <div id="valorPagamento">
                <p id="tituloDireita">
                    <b>PAGAMENTO VIA PIX: <span>R$ 272,58</span> </b>
                </p>
                <p id="descontoDireita">
                    (Economize: <b>R$ 44,10</b>)
                </p>

            </div>
        </div>          
    
    </div>
    <div class="bottomBox"> 
        <div id="back">
            <div id="backText">
                <p>VOLTAR</p>
            </div>

        </div>
        <div id="pay">
            <div id="payText">
                <p>PAGAR COM PIX</p>
            </div>
        </div>           
    </div>
    
</main> 